@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Libre Franklin", sans-serif;
	font-size: 20px;
}

img {
	display: block;
	width: 100%;
}

:root {
	--color-blue: hsl(223, 87%, 63%);
	--color-pale-blue: hsl(223, 100%, 88%);
	--light-red: hsl(354, 100%, 66%);
	--color-gray: hsl(0, 0%, 59%);
	--color-very-dark-blue: hsl(209, 33%, 12%);
}

main {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	height: 100vh;
	width: 90%;
	max-width: 750px;
	margin: 0 auto;
	container: container-main / inline-size;
}

/* Logo image */
main > img:first-child {
	width: 20cqi;
	margin: 26cqi 0 12cqi 0;
}

/* We are launching soon! */
main p:nth-child(2) {
	color: var(--color-gray);
	font-size: 6.5cqi;
	margin-bottom: 3cqi;
}

/* Soon! span */
.text-black-bold {
	color: black;
	font-weight: 700;
}

/* Subscribe and get notified */
main p:nth-last-child(5) {
	font-size: 3.5cqi;
	margin-bottom: 10cqi;
}

/* Notify div input and button */
.email-notify {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-bottom: 18cqi;
	
	/* width inherited by input and button also */
	width: 90cqi;
}

/* Notify form */
.email-notify form {
	width: inherit;
}

/* Notify input */
.email-notify input {
	display: block;
	width: inherit;
	line-height: 10cqi;
	border-radius: 6cqi;
	border: 3px solid var(--color-pale-blue);
	padding-left: 8cqi;
	font-size: 3.5cqi;
}

/* Placeholder for email input */
.email-notify input::placeholder {
	color: hsla(0, 0%, 0%, .25);
}

/* Noify Me button */
.email-notify button {
	width: inherit;
	line-height: 10cqi;
	border-radius: 6cqi;
	border: none;
	background-color: var(--color-blue);
	color: white;
	font-size: 3.5cqi;
	margin-top: 2cqi;
}

/* Stats image */
main > img:nth-child(5) {
	margin-bottom: 30cqi;
}

/* All three social media links */
.social-icons {
	display: flex;
	flex-flow: row nowrap;
	gap: 3cqi;
	margin-bottom: 11cqi;
}

/* img level control social media links */
.social-icons img {
	width: 10cqi;
	border: 1px solid var(--color-gray);
	padding: 2cqi;
	filter: invert(28%) sepia(100%) saturate(2465%) hue-rotate(221deg) brightness(102%) contrast(101%);
	border-radius: 50%;
}

/* Copyright */
main p:nth-child(7) {
	font-size: 4cqi;
}

.error {
	color: red;
	font-size: 4cqi;
	text-align: center;
	display: none;
}

@container container-main (width >= 700px) {

	/* Logo image */
	main > img:first-child {
		margin: 10cqi 0 12cqi 0;
	}
}

@media (width >= 1100px) {

	main {
		width: 42%;
		max-width: 1050px;
		height: auto;
	}

	/* Logo image */
	main > img:first-child {
		margin-bottom: 6cqi;
		margin-top: 12cqi;
}

	/* Notify div input and button */
	.email-notify {
		flex-direction: row;
		gap: 2cqi;
		margin-bottom: 12cqi;
	}

	/* Notify input */
	.email-notify input {
		width: 60cqi;
		margin-bottom: 0;
		line-height: 8cqi;
	}

	/* Noify Me button */
	.email-notify button {
		line-height: 8cqi;
	}

	/* Subscribe and get notified */
	main p:nth-last-child(5) {
		margin-bottom: 6cqi;
	}

	/* Stats image */
	main > img:nth-child(5) {
		margin-bottom: 12cqi;
	}

	/* All three social media links */
	.social-icons {
		margin-bottom: 5cqi;
	}

	/* img level control social media links */
	.social-icons img {
		width: 6cqi;
	}
}

.attribution {
	font-size: 11px;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}